<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s1mpie.gameserver.repostiory.CoordinateMapper">
    <resultMap id="Coordinate" type="Coordinate" autoMapping="true"/>
    <resultMap id="WaterPieces" type="WaterPiece" autoMapping="true"/>
    <select id="queryCurrent" resultMap="Coordinate" parameterType="String">
        select x,y from current_coordinate where user_id=#{userId}
    </select>
    <select id="queryWholeMap" resultMap="WaterPieces" >
        select water_piece.*,
               maps.x as x,
               maps.y as y
        from user_map left join maps on user_map.map_id = maps.id left join water_piece on maps.cate = water_piece.cate
        where user_map.user_id=#{userId}
        order by maps.x,maps.y
    </select>
    <select id="queryPiece" resultMap="WaterPieces" >
        select water_piece.* from water_piece
            left join maps on maps.cate=water_piece.cate
            left join user_map um on maps.id = um.map_id
        where um.user_id=#{userId} and maps.x=#{x} and maps.y=#{y}
    </select>
    <select id="queryCurrentPiece" resultMap="WaterPieces" >
        select water_piece.* from water_piece
            left join maps on maps.cate=water_piece.cate
            left join user_map um on maps.id = um.map_id
            left join current_coordinate cc on (maps.x = cc.x and maps.y = cc.y)
                                           where um.user_id=#{userId} and cc.user_id=#{userId}
    </select>
    <update id="updateCurrent" >
        update current_coordinate set x=#{x},y=#{y} where user_id=#{userId}
    </update>
    <update id="updateUserMap">
        update user_map set map_id=#{id} where user_id=#{userId}
    </update>
</mapper>