<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.s1mpie.gameserver.repostiory.MoneyMapper">
    <resultMap id="Money" type="Money" autoMapping="true"/>
    <select id="queryCurrent" resultMap="Money" parameterType="String">
        select * from money where user_id=#{userId}
    </select>
    <update id="updateCurrent">
        update money set current=#{number} where user_id=#{userId}
    </update>
</mapper>